:root {
    --cor1: #eee1ca;
    --cor2: #5e4040;
    --cor3: #fecc85;
    --corTest: #71b196;
    --corTest2: #b19671;
  }



html {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #eee1ca;
    margin: 0;
    display: flex;
    
    flex-direction: column;
    min-height: 100%;
}


#title {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);
}

.bg {
    animation: slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #5e4040 50%, #fecc85 50%);
    bottom: 0;
    left: -50%;
    opacity: .5;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1;
}

.bg2 {
    animation-direction: alternate-reverse;
    animation-duration: 4s;
}

.bg3 {
    animation-duration: 5s;
}

h1 {
    font-family: monospace;
}

@keyframes slide {
    0% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(25%);
    }
}

.menu{
    position: sticky;
    font-size: 80%;
    width: 100%;
    background-color: rgba(94, 64, 64, 0.95);
    padding: 0px 50px;
    box-sizing: border-box;
    margin-top: 0px;
	display: flex;
	justify-content: space-between;
	align-items: center;
    height: 90px;
    font-weight: 0;
}
.logo {
    float: left;
    width: 18%;
    padding-left: 2%;
}

.dropbtn {
    display: none;

}

.dropdown-content {
    display: inline;
}

/*.dropdown-content button {
    cursor: pointer;
    width: 100px;
    height: 30px;
    font-size: 16px;
    border: none;
    border-radius: px;
    margin-left: 70px;
    background-color: rgba(238, 225, 202, 0.78);
    font-weight: 600;
}*/

.dropdown-content a:hover {
    color: #eee1ca;
    text-decoration: underline;
}

.dropdown-content a {
    cursor: pointer;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
    padding: 20px;
    display: inline-block;
}

.dropdown-content ul{
    list-style: none;
    padding: 0;
}

.dropdown-content ul li{
    display: inline;
}

.line {
    width: 100%;
    height: 100%;
    padding-top: 190px;
    padding-bottom: 5px;
    counter-increment:'' ;
    margin: 0 auto;
}

.bar li {
    cursor:pointer;
    list-style-type: none;
    float: left;
    width: 10%;
    color:#eee1ca;
    position: relative;
    text-align: center;
    letter-spacing: 2px;
}

.bar li:before {
    content: '';
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: 4px solid #5e4040;
    display: block;
    text-align: center;
    margin: 10px auto 10px auto;
    border-radius: 50%;
    background-color: #eee1ca;
    letter-spacing: 0px;
}

.bar li img{
    border-radius: 50%;
    width: 80px;
    height: 80px;
    line-height: 80px;

}

.bar li:after {
    content: 'WarLine';
    letter-spacing: 6px;
    position: absolute;
    width: 100%;
    height: 20px;
    background-color: #5e4040;
    top: 25px;
    left: -50%;
    z-index: -1;
}

.bar li:hover:before {
    content: '';
    background-color: #71b196;
    border: 7px solid #b19671;
    width: 120px;
    height: 120px;
    line-height: 120px;
    margin: -40px auto 20px auto;
    color: #000000;
}

.modal{
    position: fixed;
    padding: 0;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.25s ease-in-out, transform 0.25s ease-in-out, opacity 0.25s ease-in-out;
}

.modal-content{
    background-color: white;
    padding: 16px 24px;
    width: 80%;
    height: 60%;
    border-radius: 0.5rem;
    text-align: center;
    
}
.modal-content div{
    display: flex;
}
.exit{
    float: right;
    width: 24px;
    cursor: pointer; 
    border-radius:1rem ;
    text-align: center;
    line-height: 24px;
    background-color: lightgray;
}

.exit:hover{
    background-color: darkgray;
}
.show-modal{
    opacity:1;
    visibility: visible;
    transform: scale(1.0);
}

.carrossel {
    font-size: 80%;
    width: 100%;
    position: relative;
    background: rgba(238, 225, 202, 0.8);
    border-radius: 6px;
    /*padding: 20px 60px 30px 40px;*/
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    margin-top: 0px;
    display: flex;
    align-items: center;
    height: 400px;
}

.carrossel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carrossel-open:checked+.carrossel-item {
    position: static;
    opacity: 1;
}

.carrossel-item {
    position: fixed;
    padding: 10%;
    opacity: 0;

}

.carrossel-item p {
    font-size: 16px;
}

.carrossel-item h1 {
    font-size: 20px;
}

.carrossel-item button {
    cursor: pointer;
    width: 100px;
    height: 30px;
    font-size: 16px;
    position:fixed;
    border-radius: 20px;
    background-color: #5e4040;
    font-weight: 600;
    color: #eee1ca;
}


.carrossel-control {
    background-color: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
}

.carrossel-control.prev {
    left: 2%;
}

.carrossel-control.next {
    right: 2%;
}

.carrossel-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#carrossel-1:checked~.control-1,
#carrossel-2:checked~.control-2,
#carrossel-3:checked~.control-3 {
    display: block;
}



.er{
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
    left: 0;
    right: 0;
    top:80%;
    text-align: center;
    z-index: 1;
}

.carrossel-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.carrossel-bullet {
    color: #5e4040;
    cursor: pointer;
    display: block;
    font-size: 75px;
}

.carrossel-bullet:hover {
    color: #eee1ca;
}

#carrossel-1:checked~.control-1~.carrossel-indicators li:nth-child(1) .carrossel-bullet,
#carrossel-2:checked~.control-2~.carrossel-indicators li:nth-child(2) .carrossel-bullet,
#carrossel-3:checked~.control-3~.carrossel-indicators li:nth-child(3) .carrossel-bullet {
    color: #5e4040;
}


.rodape {
    position: initial;
    bottom: 0;
    font-size: 80%;
    width: 100%;
    /*background-color: #1e1616;*/
    background-color: rgb(30, 22, 22);
    padding: 0px 40px;
    box-sizing: border-box;
    margin-top: auto;
    display: grid;
    align-items: center;
    height: 80px;
}

.space{
    width: 150px;
    height: 39%;
}
.linha {
    width: 100%;
    border-bottom: 2px solid #eee1ca;
    padding-top: 7px;
    
}   
.cont{
    height: 80%;
    width: 100%;
}
.cont p{
    color: #eee1ca;
    margin: 0px auto;   
}
.dir{
    text-align: center;
}

/*Aba Contato */
.container{
    background: #fff;
    border-radius: 6px;
    padding: 20px 60px 30px 40px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    
}
.container .con{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container .con .left-side{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    position: relative;
}
.con .left-side::before{
    content: '';
    position: absolute;
    height: 70%;
    width: 2px;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    background: #98857E;
}
.con .left-side .details{
    margin: 14px;
    text-align: center;
}
.con .left-side .details i{
    font-size: 30px;
    color: #90562E;
    margin-bottom: 10px;
}
.con .left-side .details .topic{
    font-size: 18px;
    font-weight: 500;
}
.con .left-side .details .text-one,
.con .left-side .details .text-two{
    font-size: 14px;
    color: #afafb6;
 }
.container .con .right-side{
    width: 75%;
    margin-left: 75px;
}
.con .right-side .topic-text{
    font-size: 23px;
    font-weight: 600;
    color: #90562E;
}
.right-side .input-box{
    height: 50px;
    width: 100%;
    margin: 12px 0;
}
.right-side .input-box input,
.right-side .input-box textarea{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    background: #F0F1F8;
    border-radius: 6px;
    padding: 0 15px;
    resize: none;
}
.right-side .message-box{
    min-height: 110px;
}
.right-side .input-box textarea{
    padding-top: 6px;
}
.right-side .button{
    display: inline-block;
    margin-top: 12px;
}
.right-side .button input[type="submit"]{
    color: #fff;
    font-size: 18px;
    outline: none;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    background: #90562E;
    cursor: pointer;
    transition: all 0.3s ease;
}
.button input[type="submit"]:hover{
    background: #C1AC9C;
}

/* aba sobre nós */

.img-sobre {
    text-align: center;
    margin-top: 25px;
}

.img-sobre img{
    height: 150px;
}
.fotos{
    display: flex;
    margin:0;
    justify-content: space-evenly;
}

.seg-img-sobre {
    text-align: center;
    margin-top: 20px;
    z-index: 0;
}
.seg-img-sobre img{
    height: 100px;
}

.tabela {
    color: #5e4040;
    font-size: 17px;
    width: 55%;
    display: flex;
    margin:auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.quiz{
    width: 500px;
	height: 400px;
	margin: 20px auto;
	padding: 10px 50px 50px 50px;
	background-color:rgba(255,255,255,.7);
    border-radius:0.55em;
    box-shadow: 0 0 .25em rgba(0,0,0,0.25);
}

#cont-quiz h1{
    text-align: center;
    margin: auto;
    color: white;
}

#cont-quiz{
    background-color: #5e4040;
    border-radius:0.55em;
    width: 50%;
    height: 15%;
    display: grid;
    margin: 0 auto;
}

.divisor{
    width: 100%;
    border-bottom: 2px solid #5e4040;
    padding-top: 50px;
}

#question {
	font-size: 30px;
	color: #5a6772;
}

.button-grp {
	margin: 0 auto;
    padding: 0;
    padding-top: 50px;
    display: table;
    width: 48%;
    position: fixed;
}

.button-grp-no{
    display:none;
}

#btn0, #btn1, #btn2, #btn3 {
	background: #5e4040;
	width: 220px;
    height: 35px;
	font-size: 20px;
	border: 1px solid black;
	border-radius: 50px;
	margin: 20px 40px 10px 7.6px;
	padding: 10px 10px;
	color: #fff;
}

#btn0:hover, #btn1:hover, #btn2:hover, #btn3:hover {
	cursor: pointer;
	background: #795252e2; /*come here*/
}

#btn0:focus, #btn1:focus, #btn2:focus, #btn3:focus {
	outline: 0;
}

#progress {
	color: #2b2b2b;
	font-size: 18px;
}


.tutorial{
    position: relative;
    padding: 0;
    left: 0;
    top:10%;
    width: 100%;
    height: 37%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.25s ease-in-out, transform 0.25s ease-in-out, opacity 0.25s ease-in-out;
}

.conteudo-tuto{
    color:white;
    
}

.tutorial-content{
    background-color: rgba(53, 40, 40, 0.5);
    padding: 16px 24px;
    width: 80%;
    margin-top: 1%;
    height: 60%;
    border-radius: 0.5rem;
    text-align: center;
    
}
.tutorial-content div{
    display: block;
}
.exits{
    float: right;
    width: 24px;
    cursor: pointer; 
    border-radius:1rem ;
    text-align: center;
    line-height: 24px;
    background-color: lightgray;
}

.exits:hover{
    background-color: darkgray;
}
.show-tutorial{
    width: 100%;
    opacity:1;
    visibility: visible;
    transform: scale(1.0);
}
